<footer class="footer">
    <div class="bot">
        <span>
            <input type="checkbox" id="checkboxAll">
            <label for="checkboxAll"></label>
            全选
        </span>
        <span>￥<b class="total">0.00</b>元</span>
        <div class="right">
            <button>结算</button><button>删除</button>
        </div>
    </div>
    <div class="list">
        <dl class="col-xs-3 col-md-3 text-center">
            <dt class="fa fa-home"></dt>
            <dd>首页</dd>
        </dl>
        <dl class="col-xs-3 col-md-3 text-center">
            <dt class="fa fa-comment-o"></dt>
            <dd>消息</dd>
        </dl>
        <dl class="col-xs-3 col-md-3 text-center active">
            <dt class="fa fa-shopping-cart"></dt>
            <dd>购物车</dd>
        </dl>
        <dl class="col-xs-3 col-md-3 text-center">
            <dt class="fa fa-user-o"></dt>
            <dd>我的</dd>
        </dl>
    </div>
</footer>